__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.venv/
.env/

.env
*.env

build/
dist/
*.egg-info/

pip-log.txt

.pytest_cache/
htmlcov/
.coverage
.cache
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.vscode/
.idea/
*.swp
*.swo
*.bak

.DS_Store
*.~undo-tree*
Thumbs.db

*.log
*.pid
docker-compose.override.yml

instance/
